{% load static %}
<header class="header header--loggedIn">
  <div class="container">
    <a href="{% url 'home' %}" class="header__logo">
      <img src="{% static 'images/logo.svg' %}" />
      <h1>Django Forums</h1>
    </a>
    <form class="header__search" method="GET" action="{% url 'home' %}">
      <label>
        <img width="16px" height="16px" src="{% static 'images/search.svg' %}" />
        <input name="q" placeholder="Search for rooms..." />
      </label>
    </form>
    <nav class="header__menu">


      <!-- Logged In -->
      {% if request.user.is_authenticated %}
      <div class="header__user">
        <a href="{% url 'update-user' %}">
          <div class="avatar avatar--medium active">
            <img src="https://randomuser.me/api/portraits/men/37.jpg" />
          </div>
          <p>{{ request.user.username }} <span>{{ request.user.username }}</span></p>
        </a>
        <button class="dropdown-button">
          <img width="16px" height="16px" src="{% static 'images/icons/chevron-down.svg' %}" />
        </button>
      </div>
      {% else %}
      <!-- Not Logged In -->
      <a href="{% url 'login' %}">
        <img src="{% static 'images/avatar.svg' %}" />
        <p>Login</p>
      </a>
      {% endif %}
      <div class="dropdown-menu">
        <a href="{% url 'update-user' %}" class="dropdown-link">
          <img width="16px" height="16px" src="{% static 'images/icons/tools.svg' %}" />
          Settings</a>
        <a href="{% url 'logout' %}" class="dropdown-link">
          <img width="16px" height="16px" src="{% static 'images/signout.svg' %}" />
          Logout</a>
      </div>
    </nav>
  </div>
</header>