{% for room in rooms %}
{% load static %}
<div class="roomListRoom">
  <div class="roomListRoom__header">
    <a href="{% url 'user-profile' room.host.id %}">
      <div class="avatar avatar--small active">
        <img src="https://randomuser.me/api/portraits/men/11.jpg" />
      </div>
      <span> @{{room.host.username}}</span>
    </a>

    <div class="roomListRoom__actions">
      <span>{{room.created|timesince}} ago</span>
    </div>
  </div>
  <div class="roomListRoom__content">
    <a href="{% url 'room' room.id %}">{{room.name}}</a>
  </div>
  <div class="roomListRoom__meta">
    <a href="{% url 'room' room.id %}" class="roomListRoom__joined">
      <img width="16px" height="16px" src="{% static 'images/user-group.svg' %}" />
      {{room.participants.all.count}} Joined
    </a>
    <p class="roomListRoom__topic"> {{room.topic.name}}</p>
  </div>
</div>
{% endfor %}